@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Dirt&family=Rubik+Wet+Paint&display=swap');
:root {
  --primary-color: rgb(111, 45, 168);
  --secondary-color: white;
  --tertiary-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('src/assets/images/2022-11-25 12.50.57-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(59, 59, 59);
  background-blend-mode: multiply;
  font-family: 'Rubik', sans-serif;
}

/* NAV BAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: rgba(111, 45, 168, 0.7);
  box-shadow:0 8px 20px rgba(0, 0, 0, 0.6);
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

.nav-logo {
  width: 200px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
}

.nav-item::before {
  content: '';
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 100%;
  background-color: white;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

.nav-item:hover::before {
  transform: scaleX(1);
}

/* FOOTER */

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: rgba(111, 45, 168, 0.7);
  box-shadow:0 8px 20px rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-items {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-icon {
  color: black;
  font-size: 2rem;
}

.social-icon:hover {
  color: white;
}

.contact-button {
  border: none;
  padding: 0.5rem 1.5rem;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1.5rem;
}

.contact-button:hover {
  background-color: rgb(0, 0, 0);
}

