@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Dirt&family=Rubik+Wet+Paint&display=swap');
:root {
  --primary-color: rgb(111, 45, 168);
  --secondary-color: white;
  --tertiary-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url('src/assets/images/2022-11-25 12.50.57-2.jpg'); */
  background-image: url('src/assets/images/bandPic.jpeg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: rgb(52, 52, 52);
  background-blend-mode: multiply;
  font-family: 'Rubik', sans-serif;
}

/* NAV BAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow:0 8px 20px rgba(0, 0, 0, 0.6);
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

.nav-logo {
  width: 200px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
}

.nav-item::before {
  content: '';
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 100%;
  background-color: white;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

.nav-item:hover::before {
  transform: scaleX(1);
}

.socials-container {
  width: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* FOOTER */

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow:0 8px 20px rgba(0, 0, 0, 0.6);
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-items {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-icon {
  color: rgb(111, 45, 168);
  font-size: 2rem;
}

.social-icon:hover {
  color: white;
}

.contact-button {
  border: none;
  padding: 0.5rem 1.5rem;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1.5rem;
}

.contact-button:hover {
  background-color: rgba(111, 45, 168, 0.7);
  box-shadow:0 8px 20px rgba(0, 0, 0, 0.6);
}

/* HOME */

.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
}

.main-logo {
  width: 600px;
}

.tagline {
  color: white;
  font-size: 2rem;
  margin: 2.5rem 0;
  font-variant: small-caps;
}

.members-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 2rem 0;
}

.member-image {
  width: 300px;
  height: 300px;
}

.member-image:hover {
  border: solid 3px white;
}

h1 {
  color: white;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem;
  min-width: 50%;
}

.call-to-action-container {
  text-align: center;
}

.call-to-action {
  color: white;
  margin-bottom: 1rem;
}

.contact-form {
  /* border: rgba(111, 45, 168, 0.7) solid 2px; */
  border-radius: 25px 0 25px 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  min-width: 40%;
}

.disclaimer {
  font-size: 0.75rem;
}

label {
  color: white;
  width: 100%;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.input-box {
  width: 100%;
  height: 2.5rem;
  font-family: 'Rubik', sans-serif;
  padding: 6px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow:0 8px 20px rgba(0, 0, 0, 0.6);
}

select {
  width: 100%;
  height: 2.5rem;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  padding: 4px;
  box-shadow:0 8px 20px rgba(0, 0, 0, 0.6);
}

.text-box {
  padding: 6px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  min-width: 100%;
  min-height: 200px;
  max-width: 500px;
  max-height: 400px;
  box-shadow:0 8px 20px rgba(0, 0, 0, 0.6);
}

.text-box:focus {
  border-color:rgb(111, 45, 168);
  box-shadow: 0 0 5px rgba(45, 45, 45, 0.5);
}

.contact-submit-button {
  margin-top: 1.5rem;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  border-radius: 15px;
  border: solid 2px white;
  color: white;
  background-color:rgba(74, 30, 113, 0.1);
}

.contact-submit-button:hover {
  cursor: pointer;
  background-color: rgba(111, 45, 168, 0.7);
  box-shadow:0 8px 20px rgba(0, 0, 0, 0.6);
}

.error-message {
  color: red;
  font-family: 'Rubik', sans-serif;
  margin-top: 2rem;
}

.success-message {
  color: green;
  font-family: 'Rubik', sans-serif;
  margin-top: 2rem;
}

.feature-section {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.next-show {
  width: 65%;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: rgba(111, 45, 168, 0.7) solid 2px;
  border-radius: 25px 0 25px 0;
  background-color: rgba(111, 45, 168, 0.7);
}

.next-show-image {
  width: 40%;
  border-radius: 15px;
  margin: 1rem 0 2rem 0;
  box-shadow:0 8px 20px rgba(0, 0, 0, 0.6);
}

.show-title {
  color: white;
}

hr {
  width: 80%;
  margin: 1rem 0;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  place-items: center center;
}

.show-label,
.show-data {
  color: white;
}

.latest-clip {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: rgba(111, 45, 168, 0.7) solid 2px;
  border-radius: 25px 0 25px 0;
  background-color: rgba(111, 45, 168, 0.7);
}

.clip-header {
  margin-bottom: 2rem;
}

.youtube-clip {
  width: 550px;
  height: 350px;
  border-radius: 25px;
  box-shadow:0 8px 20px rgba(0, 0, 0, 0.6);
}

/* ABOUT PAGE */

.about-page {
  background-image: url('src/assets/images/RockBandPic.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: rgb(31, 31, 31);
  background-blend-mode: multiply;
  font-family: 'Rubik', sans-serif;
}

.about-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title {
  font-size: 4rem;
  margin: 2rem 0;
}

.band-about {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  min-width: 950px;
  min-height: 504px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
}

.band-promo-pic {
  width: 300px;
  height: 440px;
  border-radius: 5px;
}

.about-blurb {
  color: white;
  letter-spacing: 2px;
  line-height: 30px;
  margin-left: 3rem;
  background-color: rgba(0, 0, 0, 0.2);
  border: white solid 2px;
  padding: 3.25rem;
  max-height: 440px;
  overflow: auto;
}

.about-members-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  margin: 3rem 0;
  width: 90%;
}

.member-section {
  display: flex;
  min-width: 100%;
  justify-content: center;
}

.about-member-image {
  max-width: 250px;
  max-height: 100%;
  height: auto;
  align-self: stretch;
}

.member-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  flex: 1;
  max-height: 400px;
  overflow: auto;
}

.member-name,
.member-role {
  color: white;
  margin: 0 0 1rem 0;
}

.member-about {
  color: white;
  line-height: 25px;
  margin-top: 1rem;
  overflow: auto;
}

@media screen and (max-width: 1200px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .youtube-clip {
    width: 400px;
    height: 250px;
    border-radius: 25px;
    box-shadow:0 8px 20px rgba(0, 0, 0, 0.6);
  }

  .about-members-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    width: 80%;
  }

  .band-about {
    max-width: 50%;
    min-width: 950px;
    min-height: 504px;
  }

  .band-promo-pic {
    width: 300px;
    height: 440px;
  }
  
  .about-blurb {
    letter-spacing: 2px;
    line-height: 30px;
    margin-left: 3rem;
    padding: 3.25rem;
    max-height: 440px;
  }

}