.admin-home-page-wrapper {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.admin-home-title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.form-select {
    width: 400px;
    height: fit-content;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.song-form {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: white solid 1px;
    border-radius: 5px;
}

.data-input {
    width: 250px;
    height: 40px;
    padding-left: 10px;
    font-size: 1rem;
    border-radius: 5px;
}

.song-form-submit {
    padding: 0.75rem 3rem;
    margin-top: 1rem;
    background-color: rgb(111, 45, 168);
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    border: white solid 1px;
    border-radius: 10px;
}

.song-form-submit:hover {
    cursor: pointer;
    background-color: rgb(91, 37, 139);
    border: white solid 2px;
}

.form-error,
.submission-error {
    color: red;
    text-align: center;
    margin-top: 1rem;
}

.success-message {
    color: green;
    text-align: center;
    margin-top: 1rem;
}